body{/*Aplica cores de fundo à pagina, para texto, configura alinhamento de texto e margem de contéudo principal*/ 
    color: white;
    background-color: black;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{/*Aplica cor de texto e configura fonte*/
    color:midnightblue;
    font-size: 6cap;
}
*{/*Permite maior controle e personalização de contêineres*/
    box-sizing: border-box;
}
.container-exterior{/*Aplica cor de fundo à seção título, cor de texto, configura margem e preenchimento de conteúdo principal */
    background-color:powderblue;
    color: white;
    margin-bottom: -18px;
    padding: 100px;
}
.container-interior a:hover{/*Aplica cor de fundo ao menu de opções de página e cor ao texto enquanto mouse se mantêm sobre conteúdo*/
    background-color: powderblue;
    color: midnightblue;
}
.container-interior{/*Aplica configurações de contêiner, configura margem superior e texto para menu de opções*/
    display: inline-flex;
    margin-top: 50px;
    font-size: larger;
}
.container-interior a{/*Aplica cor de fundo, cor de texto, remove sublinhado, configura margem e preechimento de menu de opções*/
    background-color: cadetblue;
    color: white;
    text-decoration: none;
    margin: 0 4px;
    padding: 7px;
}
.sobre-mim{/*Aplica cor de fundo, margem superior e preechimento à primeira seção de página*/
    background-color: darkgreen;
    margin-top: 18px;
    padding: 80px 0;
}
.formacao-e-idiomas{
    background-color: darkgoldenrod;
    margin-top: 0;
    padding: 70px 0;
}
.portfolio{/*Aplica cor de fundo, margem superior e preenchimento superior e inferior à terceira seção de página*/
    background-color:darkred;
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 65px;
}
.contato{/*Configura margem ao título de última seção de página*/
    margin: 100px;
}
table{
    margin: auto;
}
.rotulo-nome{/*Configura margem direita e largura de primeira opção de contato*/
    margin-right: -39px;
    width: 100%;
}
.rotulo-email{
    margin-right: -35px;
}
.nome,.email{
    margin-left: -65px;
}
button{/*Configura margem direita e superior de botão de envio de informações para contato*/
    margin-right: -245px;
    margin-top: 22px;
}
.portfolio a{/*Remove cor de fundo, aplica cor ao texto e remove sublinhado de links*/
    background-color: none;
    color: white;
    text-decoration: none;
}
.portfolio a:hover{
    color:darkseagreen;
}